@import './theme/mixins/apply-to-tablet-and-larger.mixin';
@import './theme/mixins/apply-to-desktop-and-larger.mixin';

#main-content-container {
    min-height: 100%;
    height: max-content;
    min-width: 100%;
    width: max-content;
    padding: 20px;
    box-sizing: border-box;
    margin: auto;
    justify-content: center;
}

.list-item-container {
    margin-top: 12px;
}

#file-details-card-container {
    margin-bottom: 15px;
}

@include apply-to-tablet-and-larger() {
    #main-content-container {
        min-width: 350px;
    }
}

@include apply-to-desktop-and-larger() {
    #main-content-container {
        justify-content: start;
        flex-direction: row-reverse;
    }

    #file-details-card-container {
        margin-left: 35px;
    }

    #directory-list {
        min-width: 200px;
    }
}